# Test directory in each contest edition folder
tests

# Text files containing hints for solutions
hints

# TODO files
todo

# Folder containing source files of solutions sketches
explainations

# Stupid VS Code Folder
.vscode
